.chart-container {
  margin: auto;
  width: 1000px;
  height: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.chart-display {
  border: 1px solid hsl(240, 8%, 82%);
  border-radius: 13px;
  overflow: hidden;

}

.form-control {
  margin-left: 10px
}